<footer class="niche-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-10 offset-1">
                <div class="row">
                    <div class="col-md-3">
                        <p class="footer-title">Get to know us</p>
                        <p class="footer-info">Privacy Policy</p>
                        <p class="footer-info">Terms & Conditions</p>
                    </div>
                    <div class="col-md-3">
                        <p class="footer-title">Info</p>
                        <p class="footer-info">FAQs</p>
                        <p class="footer-info">Return Policy</p>
                        <p class="footer-info">Contact Us</p>
                    </div>
                    <div class="col-md-3">
                        <p class="footer-title">Account</p>
                        <p class="footer-info">My Account</p>
                        <p class="footer-info">My orders</p>
                        <p class="footer-info">Order Tracking</p>
                        <p class="footer-info">Gift Card Balance</p>
                    </div>
                    <div class="col-md-3">
                        <p class="footer-title">Designers</p>
                        <p class="footer-info">Become a Designer</p>
                        <p class="footer-info">Dashboard</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>