<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />>
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />

</head>
<body class="config">
<div id="app">

    <!--====== Main Header ======-->
    <div th:insert="~{partials/navbar :: navbar}"></div>
    <!--====== End - Main Header ======-->


    <!--====== App Content ======-->
    <div class="app-content">






        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a th:href="@{/}">Home</a></li>
                                <li class="has-separator">

                                    <a th:href="@{/update}" >Admin Dashboard</a></li>
                                <li class="is-marked">

                                    <a th:href="@{/update}">Update product</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">

                                <!--====== Dashboard Features ======-->


                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <h1 class="dash__h1 u-s-m-b-30">Update Product Tech and product</h1>
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">

                                        <div th:if="${successMessage}" class="alert alert-success" role="alert">
                                            <p style="color: green" th:text="${successMessage}"></p>
                                        </div>

                                        <h1 class="dash__h1 u-s-m-b-30">Update Product</h1>

                                        <form class="l-f-o__form" th:action="@{/updateProduct}" method="post" enctype="multipart/form-data">

                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" >Product Id</label>

                                                <input class="input-text input-text--primary-style" type="text" name="proId" readonly th:value="${product.productId}" required></div>


                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" >Product Name</label>

                                                <input class="input-text input-text--primary-style" type="text" placeholder="Enter the name" name="name" th:value="${product.productName}" required></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-lname">Product Image</label>

                                                <img th:if="${product.productImage}" th:src="@{/product_img/{image}(image=${product.productImage})}" alt="Product Image">
                                                <input class="input-text input-text--primary-style" style="margin: auto" type="file" id="reg-lname" name="image">
                                                <div class="u-s-m-b-30">
                                                    <label class="gl-label" for="reg-brand">Product Category</label>
                                                    <select class="input-text input-text--primary-style" id="reg-category" name="selectedCate">
                                                        <option value="" disabled selected>Choose a category</option>
                                                        <th:block th:each="cate : ${categoryList}">
                                                            <option th:value="${cate.categoryId}" th:text="${cate.categoryName}"
                                                                    th:selected="${product.category != null && product.category.categoryId == cate.categoryId}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>

                                                <div class="u-s-m-b-30">
                                                    <label class="gl-label" for="reg-brand">Product Brand</label>
                                                    <select class="input-text input-text--primary-style" name="selectedBrand">
                                                        <option value="" disabled selected>Choose a brand</option>
                                                        <th:block th:each="brand : ${brandList}">
                                                            <option th:value="${brand.brandId}" th:text="${brand.brandName}"
                                                                    th:selected="${product.brand != null && product.brand.brandId == brand.brandId}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="reg-lname">Product description</label>
                                                    <textarea style="background: #f1f1f1" rows="5" cols="40" name="description"  th:text="${product.productDescription}" ></textarea>
                                                </div>
                                                <div style="font-weight: 600;" class="u-s-m-b-15 col-lg-12">
                                                    <input style="padding: 18px 18px; border: 2px solid #ff4500; border-radius: 6px; margin-top: 20px;" class="btn btn--e-transparent-brand-b-2" type="submit" value="Submit">
                                                </div>

                                        </form>
                                    </div>

                                    <h1 class="dash__h1 u-s-m-b-30">Add Product Tech</h1>

                                    <form class="l-f-o__form" th:action="@{/addProductType}" method="post" enctype="multipart/form-data">

                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" >Product Id</label>

                                            <input class="input-text input-text--primary-style" type="text" name="proId" readonly th:value="${product.productId}"></div>


                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" >Product Name</label>

                                            <input class="input-text input-text--primary-style" type="text" placeholder="Enter the name" name="name" th:value="${product.productName}" readonly></div>

                                        <div class="u-s-m-b-30">
                                            <label class="gl-label" for="reg-brand">Product Tech</label>
                                            <select class="input-text input-text--primary-style" id="reg-brand" name="selectedTech" required>
                                                <option value="" disabled selected>Choose a brand</option>
                                                <th:block th:each="tech : ${TechList}">
                                                    <option th:value="${tech.techId}" th:text="'Ram: ' + ' ' +${tech.ram} + ' ' + 'Memory: '+ ${tech.memory} + ' ' + 'Size: ' + ${tech.size}"></option>
                                                </th:block>
                                            </select>
                                        </div>

                                        <div class="u-s-m-b-30">
                                            <label class="gl-label" for="reg-brand">Product Color</label>
                                            <select class="input-text input-text--primary-style"  name="selectedColor" required>
                                                <option value="" disabled selected>Choose a color</option>
                                                <th:block th:each="color : ${colorList}">
                                                    <option th:value="${color.colorId}" th:text="${color.colorName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <label class="gl-label">Product price</label>
                                            <input class="input-text input-text--primary-style" type="number" placeholder="Enter the price" name="price" required step="any" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid price" min="0">
                                        </div>

                                        <div class="u-s-m-b-30">
                                            <label class="gl-label">Product quantity</label>
                                            <input class="input-text input-text--primary-style" type="number" placeholder="Enter the quantity" name="quantity" required min="1" max="1000" step="1" pattern="[0-9]+" title="Enter a valid integer number">
                                        </div>

                                        <div style="font-weight: 600;" class="u-s-m-b-15 col-lg-12">
                                            <input style="padding: 18px 18px; border: 2px solid #ff4500; border-radius: 6px; margin-top: 20px;" class="btn btn--e-transparent-brand-b-2" type="submit" value="Submit">
                                        </div>
                                    </form>

                                    <div th:if="${statusMessage}" class="alert alert-success" role="alert">
                                        <p style="color: green" th:text="${statusMessage}"></p>
                                    </div>

                                    <div th:if="${priceMessage}" class="alert alert-success" role="alert">
                                        <p style="color: green" th:text="${priceMessage}"></p>
                                    </div>

                                    <div th:if="${quantityMessage}" class="alert alert-success" role="alert">
                                        <p style="color: green" th:text="${quantityMessage}"></p>
                                    </div>



                                    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                                        <div class="dash__table-wrap gl-scroll">
                                            <table class="dash__table">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Product Name</th>
                                                    <th>price</th>
                                                    <th></th>
                                                    <th>Color</th>
                                                    <th>Tech</th>
                                                    <th>Quantity</th>
                                                    <th></th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody th:each="type : ${listVariant}">
                                                <tr>
                                                    <td th:text="${type.product_type_id}"></td>
                                                    <td>
                                                        <span th:text="${type.product.productName}"></span>
                                                    </td>

                                                    <td>
                                                        <form th:action="@{/updatePrice}" method="post">
                                                        <input type="text" th:value="${type.product_type_id}" hidden="" name="typeId">
                                                        <input style="width: 80%" type="number" th:value="${type.product_type_price}" required step="any" pattern="[0-9]+(\.[0-9]+)?" name="price" min="1">
                                                        <td><button style="border: none; background: white !important; font-size: 1.5em" class="fa fa-wrench" type="submit"></button></td>
                                                        </form>
                                                    </td>

                                                    <td>
                                                        <span th:text="${type.color.colorName}"></span>
                                                    </td>

                                                    <td>
                                                        <span th:text="'Ram: ' + ' ' + ${type.productTech.ram} + ' |Memory: ' + ' ' + ${type.productTech.memory} + ' |Size: ' + ' ' + ${type.productTech.size}"></span>
                                                    </td>

                                                    <td>
                                                        <form th:action="@{/updateQuantity}" method="post">
                                                        <input type="text" th:value="${type.product_type_id}" hidden="" name="typeId">
                                                        <input style="width: 80%" type="number"   th:value="${type.product_type_quantity}" required step="1" name="quantity" min="0">
                                                            <td><button style="border: none; background: white !important; font-size: 1.5em" class="fa fa-wrench" type="submit"></button></td>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <span th:text="${type.product_type_status}"></span>
                                                        <form th:action="@{/changeStatus}" method="post">
                                                            <input type="text" th:value="${type.product_type_id}" hidden="" name="typeId">
                                                            <button type="submit">Change</button>
                                                        </form>


                                                    </td>

                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>




                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <div th:insert="~{partials/footer :: footer}"></div>
</div>
<!--====== End - Main App ======-->


<!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
<script>
    window.ga = function() {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!--====== Vendor Js ======-->
<script th:src="@{/js/vendor.js}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script th:src="@{/js/jquery.shopnav.js}"></script>

<!--====== App ======-->
<script th:src="@{/js/app.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.addEventListener('keypress', function(e) {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 là mã ASCII cho phím Enter
                e.preventDefault();
            }
        });
    });
</script>



<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>
</html>
