<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />>
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">
        <img class="preloader__img" src="images/preloader.png" alt="">
    </div>
</div>

<!--====== Main App ======-->
<div id="app">

    <!--====== Main Header ======-->
    <div th:insert="~{partials/navbar :: navbar}"></div>
    <!--====== End - Main Header ======-->
    <div class="section__text-wrap" th:if="${errorMessage != null}" >

            <span style="color:red;" th:text="${errorMessage}"></span>

    </div>
    <!--====== App Content ======-->
    <div class="app-content">
        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">
                                    <a th:href="@{/}">Home</a>
                                </li>
                                <li class="is-marked">
                                    <a th:href="@{/checkout}">Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->

        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="checkout-msg-group">
                                <div class="msg">
                                    <span class="msg__text">Have a coupon?
                                        <a class="gl-link" href="#have-coupon" data-toggle="collapse">Click Here to enter your code</a>
                                    </span>
                                    <div class="collapse" id="have-coupon" data-parent="#checkout-msg-group">
                                        <div class="c-f u-s-m-b-16">
                                            <span class="gl-text u-s-m-b-16">Enter your coupon code if you have one.</span>
                                            <form class="c-f__form"  method="post" th:action="@{/checkDiscount}">
                                                <div class="u-s-m-b-16">
                                                    <div class="u-s-m-b-15">
                                                        <label for="coupon"></label>
                                                        <input class="input-text input-text--primary-style" type="text"
                                                               id="coupon" placeholder="Coupon Code" name="voucherCode">
                                                    </div>
                                                    <div class="u-s-m-b-15">
                                                        <button class="btn btn--e-transparent-brand-b-2" type="submit">
                                                            APPLY
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 2 ======-->

        <!--====== Section 3 ======-->

        <div class="u-s-p-b-60">
            <!--====== Section Content ======-->

            <div class="section__content">
                <div class="container">
                    <div class="checkout-f">
                        <form class="checkout-f__delivery" action="/placeOrder" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1 class="checkout-f__h1">DELIVERY INFORMATION</h1>
                                    <div class="u-s-m-b-30">

                                        <!--====== First Name, Last Name ======-->
                                        <div class="gl-inline">
                                            <div class="u-s-m-b-15">
                                                <label class="gl-label" for="billing-fname">FULL NAME *</label>
                                                <input disabled class="input-text input-text--primary-style" type="text"
                                                       id="billing-fname"
                                                       th:value="${customer.getCustomer().getFullname()}"
                                                       name="fullName" data-bill="" placeholder="If empty update in profile">
                                            </div>
                                        </div>
                                        <!--====== End - First Name, Last Name ======-->

                                        <!--====== E-MAIL ======-->
                                        <div class="u-s-m-b-15">
                                            <label class="gl-label" for="billing-email">E-MAIL *</label>
                                            <input disabled class="input-text input-text--primary-style" type="email"
                                                   th:value="${customer.email}" id="billing-email" name="email"
                                                   data-bill="" required placeholder=" Update in profile or enter email in here " >
                                        </div>
                                        <!--====== End - E-MAIL ======-->

                                        <!--====== PHONE ======-->
                                        <div class="u-s-m-b-15">
                                            <label class="gl-label" for="billing-phone">PHONE *</label>
                                            <input required class="input-text input-text--primary-style" type="text"
                                                   id="billing-phone" th:value="${customer.getCustomer().getPhone()}"
                                                   name="phone" data-bill="" placeholder="Update in profile or enter phone number of receiver in here">
                                        </div>
                                        <!--====== End - PHONE ======-->

                                        <!--====== Street Address ======-->
                                        <div class="u-s-m-b-15">
                                            <label class="gl-label" for="billing-street">ADDRESS *</label>
                                            <input required class="input-text input-text--primary-style" type="text"
                                                   id="billing-street" name="address" placeholder="Enter the address"
                                                   data-bill="" th:value="${customer.customer.addressDetail}" >
                                        </div>

                                        <input type="text" th:value="${voucherCode}" hidden="" name="voucherCode">




                                        <div id="qr-code-container" style="display: none;">
                                            <img id="qr-code-img" width="100%" src="" alt="QR Code">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <h1 class="checkout-f__h1">ORDER SUMMARY</h1>
                                    <!--====== Order Summary ======-->
                                    <div class="o-summary">
                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__item-wrap gl-scroll">
                                                <div class="o-card" th:each="cartItem : ${ListCart}">
                                                    <div class="o-card__flex">
                                                        <div class="o-card__img-wrap">
                                                            <img class="u-img-fluid"
                                                                 th:src="@{'/product_img/' + ${cartItem.productType.product.productImage}}"
                                                                 alt="">
                                                        </div>
                                                        <div class="o-card__info-wrap">
                                                        <span class="table-p__name">
                                                            <a th:href="@{/ProductDetail/{id}(id = ${cartItem.productType.product.productId})}"
                                                               th:text="${cartItem.productType.product.productName}"></a>
                                                        </span>
                                                            <span class="o-card__quantity"
                                                                  th:text="'Quantity x ' + ${cartItem.quantity}">Quantity x 1</span>
                                                            <span class="o-card__price"
                                                                  th:text="'$' + ${cartItem.productType.product_type_price * cartItem.quantity}">$150.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__box">
                                                <table class="o-summary__table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Discount</td>
                                                        <td th:text="${discount} +'%'"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GRAND TOTAL</td>
                                                        <td id="grand-total" th:text="${total}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__box">
                                                <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>

                                                    <div class="u-s-m-b-10">
                                                        <div class="radio-box">
                                                            <input type="radio" id="cash-on-delivery" name="payment"
                                                                   value="Cash on Delivery">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="cash-on-delivery">Cash
                                                                    on Delivery</label>
                                                            </div>
                                                        </div>
                                                        <span class="gl-text u-s-m-t-6">Pay Upon Cash on delivery. (This service is only available for some countries)</span>
                                                    </div>
                                                    <div class="u-s-m-b-10">
                                                        <div class="radio-box">
                                                            <input type="radio" id="direct-bank-transfer" name="payment"
                                                                   value="Direct Bank Transfer">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label"
                                                                       for="direct-bank-transfer">Direct Bank
                                                                    Transfer</label>
                                                            </div>
                                                        </div>
                                                        <span class="gl-text u-s-m-t-6">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</span>
                                                        <button style="display: none" class="btn btn--e-brand-b-2"
                                                                type="button" id="bank-transfer-btn">Bank Transfer Info
                                                        </button>
                                                    </div>
                                                    <div class="u-s-m-b-10">
                                                        <div class="radio-box">
                                                            <input type="radio" id="pay-with-check" name="payment"
                                                                   value="Pay with VnPay">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="pay-with-check">Pay
                                                                    With VnPay</label>
                                                            </div>
                                                        </div>
                                                        <span class="gl-text u-s-m-t-6">You will pay with VNPay you order will be accept after successfull </span>
                                                    </div>

                                                    <div>
                                                        <button class="btn btn--e-brand-b-2" type="submit">PLACE ORDER
                                                        </button>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Order Summary ======-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 3 ======-->
    </div>
    <!--====== End - App Content ======-->

    <!--====== Main Footer ======-->
    <div th:insert="~{partials/footer :: footer}"></div>

    <!--====== Modal Section ======-->
</div>
<!--====== End - Main App ======-->

<!--====== Vendor Js ======-->
<script src="js/vendor.js"></script>

<!--====== jQuery Shopnav plugin ======-->
<script src="js/jquery.shopnav.js"></script>

<!--====== App ======-->
<script src="js/app.js"></script>

<!-- Payment Method Selection Script -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paymentRadios = document.querySelectorAll('input[name="payment"]');
        const bankTransferButton = document.getElementById('bank-transfer-btn');

        paymentRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                if (radio.id === 'direct-bank-transfer' && radio.checked) {
                    bankTransferButton.style.display = 'inline-block';
                } else {
                    bankTransferButton.style.display = 'none';
                }
            });
        });
    });

    const checkoutBtn = document.getElementById('bank-transfer-btn');
    const qrCodeContainer = document.getElementById('qr-code-container');
    const qrCodeImg = document.getElementById('qr-code-img');

    checkoutBtn.addEventListener('click', function () {
        checkoutBtn.disabled = true;
        checkoutBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';

        // Fetch the latest grand total
        const totalPriceElement = document.getElementById('grand-total');
        const totalPrice = parseFloat(totalPriceElement.textContent.replace('$', ''));

        // Update the QR code URL with the latest total price
        fetch(`https://vietqr.co/api/generate/vcb/1018346878/VIETQR.CO/${parseInt(totalPrice)* 25454}/CellphoneDBZ%20Payment?isMask=0`)
            .then(response => response.blob())
            .then(blob => {
                const qrImageUrl = URL.createObjectURL(blob);
                qrCodeImg.src = qrImageUrl;
                qrCodeContainer.style.display = 'block';
                checkoutBtn.innerHTML = 'Get payment information successfully';
                checkoutBtn.disabled = true;
            })
            .catch(error => {
                console.error('Error fetching QR code:', error);
                checkoutBtn.innerHTML = 'Proceed to Checkout';
                checkoutBtn.disabled = false;
            });
    });
</script>
<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>
                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>
</html>
