
<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />>
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">


    <div th:insert="~{partials/navbar :: navbar}"></div>

    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="/">Home</a></li>
                                <li class="has-separator">

                                    <a href="/update">Admin Dashboard</a></li>
                                <li class="has-separator">

                                    <a href="/viewCustomer">View Customer</a></li>
                                <li class="is-marked">

                                    <a th:href="@{/customerOrder/{id}(id = ${customer.getId()})}">Order of Customer</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">

                                <!--====== Dashboard Features ======-->
                                <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                    <div class="dash__pad-1">


                                        <ul class="dash__f-list">
                                            <h3 class="dash-active">MANAGE</h3>
                                            <li>

                                                <a class="dash-active" th:href="@{/update}">Manage Product</a></li>

                                            <li>

                                                <a  th:href="@{/createSupBraCate}">Manage Supplier & Category & Brand</a></li>

                                            <li>

                                                <a href="/createVoucher">Manage Voucher</a></li>

                                            <li>
                                                <a href="/viewRequest"> Request of Cancel</a></li>
                                            <li>

                                                <a href="/receipt">Manage Receipt</a></li>
                                            <li>
                                                <a href="/viewCustomer">View Customer Account</a></li>
                                            <li>
                                                <a href="/viewOrder">Manage Orders</a></li>


                                        </ul>
                                    </div>
                                </div>

                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14">View Order of Customer</h1>
                                        <h4 th:text="'Customer Account Email : ' + ${customer.account.email}"></h4>


                                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                                            <div class="dash__table-wrap gl-scroll">
                                                <table class="dash__table">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Address Of Receiver</th>
                                                        <th>Approval Date</th>
                                                        <th>Create Date</th>
                                                        <th>Order Status</th>
                                                        <th>Payment Method</th>
                                                        <th>Payment Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="order :${orders}">
                                                        <td th:text="${order.getOrderId()}"></td>
                                                        <td th:text="${order.getAddressOfReceiver()}"></td>
                                                        <td th:text="${order.getApprovalDate()}"></td>
                                                        <td th:text="${order.getCreateDate()}"></td>
                                                        <td th:text="${order.getOrderStatus()}"></td>
                                                        <td th:text="${order.getPaymentMethod()}"></td>
                                                        <td th:text="${order.getPaymentStatus()}"></td>
                                                        <td>
                                                            <a  th:href="@{/viewOrderDetail/{orderid}(orderid =${order.orderId})}"> view</a>
                                                            <!--                                                                <button type="button" th:href=""> edit</button>-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <div th:insert="~{partials/footer :: footer}"></div>
</div>
<!--====== End - Main App ======-->


<!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
<script>
    window.ga = function() {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!--====== Vendor Js ======-->
<script th:src="@{/js/vendor.js}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script th:src="@{/js/jquery.shopnav.js}"></script>

<!--====== App ======-->
<script th:src="@{/js/app.js}"></script>

<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>
</html>-->