<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <style>
        @keyframes rgbAnimation {
            0% { background-color: red; }
            33% { background-color: green; }
            66% { background-color: blue; }
            100% { background-color: red; }
        }

        .buttonRGB {
            background-color: red;
            color: #fff;
            padding: 0.5em;
            border: none;
            border-radius: 25px;
            animation: rgbAnimation 3s infinite;
        }
    </style>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" th:src="@{images/preloader.png}" alt=""></div>
</div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <div th:insert="~{partials/navbar :: navbar}"></div>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="has-separator">

                                        <a href="/UserDetail">My Account</a></li>
                                    <li class="is-marked">

                                        <a href="/viewOrderList">My Orders & Track Order</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                            <div class="dash__pad-1">

                                                <span th:text="'Hello' + ' ' + ${account.customer.name}" class="dash__text u-s-m-b-16"></span>
                                                <ul class="dash__f-list">
                                                    <li>

                                                        <a th:href="@{/EditProfile}">Manage My Account</a></li>
                                                    <li>

                                                        <a th:href="@{/UserDetail}">My Profile</a></li>

                                                    <li>

                                                        <a th:href="@{/viewOrderList}">My Orders & Track Order</a></li>

                                                    <li>

                                                        <a href="dash-cancellation.html">My Returns & Cancellations</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                            <div class="dash__pad-1">
                                                <ul class="dash__w-list">
                                                    <li>
                                                        <div class="dash__w-wrap">
                                                            <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>
                                                            <span class="dash__w-text" th:text="${placedOrders}">0</span>
                                                            <span class="dash__w-name">Orders Placed</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dash__w-wrap">
                                                            <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>
                                                            <span class="dash__w-text" th:text="${cancelledOrders}">0</span>
                                                            <span class="dash__w-name">Cancel Orders</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dash__w-wrap">
                                                            <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>
                                                            <span class="dash__w-text" th:text="${deliveredOrders}">0</span>
                                                            <span class="dash__w-name">Delivered</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dash__w-wrap">
                                                            <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>
                                                            <span class="dash__w-text" th:text="${processingOrders}">0</span>
                                                            <span class="dash__w-name">Processing</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary" th:text="${order.orderId}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <span>Create Date</span>
                                                    <div class="manage-o__text-2 u-c-secondary" th:text="${order.createDate}"></div>
                                                </div>
                                                <div>
                                                    <span>Approval Date</span>
                                                    <div class="manage-o__text-2 u-c-secondary" th:text="${order.approvalDate}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <form method="post" th:action="@{/reOrder}">
                                                        <input type="text" hidden="" th:value="${orderId}" name="orderId">
                                                        <button class="buttonRGB" style="background: red;color: #fff;padding: 0.5em ;border: none;border-radius: 25px;" type="submit"> Re-Order Product</button>
                                                    </form>

                                                    <div th:if="${orderMessage}" class="alert alert-success" role="alert">
                                                        <p style="color: green" th:text="${orderMessage}"></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div th:each="orderDetail : ${ListOrderDetail}">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                    </div>
                                                    <div class="dash-l-r">
                                                    </div>
                                                    <div class="manage-o__description">
                                                        <div class="description__container">
                                                            <div class="description__img-wrap">
                                                                <img class="u-img-fluid" th:src="@{'/product_img/' + ${orderDetail.productType.product.productImage}}" alt="">
                                                            </div>
                                                            <div class="description-title" th:text="${orderDetail.productType.product.productName}"></div>
<!--                                                            <strong th:text="'RAM: ' + ${orderDetail.productType.productTech.ram} + ' | Memory: ' + ${orderDetail.productType.productTech.memory} + ' | Size: ' + ${orderDetail.productType.productTech.size} + ' | Color: ' + ${orderDetail.productType.color.colorName}"></strong>-->
                                                        </div>
                                                        <strong th:text="'RAM: ' + ${orderDetail.productType.productTech.ram} + ' | Memory: ' + ${orderDetail.productType.productTech.memory} + ' | Size: ' + ${orderDetail.productType.productTech.size} + ' | Color: ' + ${orderDetail.productType.color.colorName}"></strong>
                                                        <div class="description__info-wrap">
                                                            <div>
                                                            <span class="manage-o__text-2 u-c-silver">Quantity:
                                                            <span class="manage-o__text-2 u-c-secondary" th:text="${orderDetail.quantity}"></span>
                                                            </span>
                                                            </div>
                                                            <div>
                                                            <span class="manage-o__text-2 u-c-silver">Total:
                                                           <span class="manage-o__text-2 u-c-secondary" th:text="${orderDetail.price}"></span>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8" th:text="${order.customer.fullname != null ? order.customer.fullname : order.customer.name}"></h2>
                                                    <span class="dash__text-2" th:text="${order.addressOfReceiver}"></span>
                                                    <span class="dash__text-2" th:text="${order.phoneOfReceiver}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Total</div>
                                                        <div class="manage-o__text-2 u-c-secondary" th:text="${#numbers.formatDecimal(totalPrice, 1, 2)}"></div>
                                                    </div>
                                                    <span class="dash__text-2" th:text="'Payment Status: ' + ${order.paymentStatus}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <div th:insert="~{partials/footer :: footer}"></div>
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <script th:src="@{/js/vendor.js}"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script th:src="@{/js/jquery.shopnav.js}"></script>

    <!--====== App ======-->
    <script th:src="@{/js/app.js}"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>