<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">


    <div th:insert="~{partials/navbar :: navbar}"></div>

    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="/">Home</a></li>
                                <li class="has-separator">

                                    <a href="/update">Admin Dashboard</a></li>
                                <li class="has-separator">

                                    <a href="/viewCustomer">View Customer Account</a></li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">

                                <!--====== Dashboard Features ======-->
                                <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                    <div class="dash__pad-1">

                                        <ul class="dash__f-list">
                                            <h3 class="dash-active">MANAGE</h3>
                                            <li>
                                                <a class="dash-active" th:href="@{/update}" id="manageProduct">Manage Product</a></li>
                                            <li>
                                                <a  th:href="@{/createSupBraCate}" id="manageCateBraSup">Manage Supplier & Category & Brand</a></li>
                                            <li>
                                                <a href="/createVoucher" id="manageVoucher">Manage Voucher</a></li>
                                            <li>
                                                <a href="/viewRequest" id="manageRequest"> Request of Cancel</a></li>
                                            <li>
                                                <a href="/receipt" id="manageReceipt" >Manage Receipt</a></li>
                                            <li>
                                                <a href="/viewCustomer" id="manageCustomerAccount">View Customer Account</a></li>
                                            <li>
                                                <a href="/viewOrder" id="manageOrder">Manage Orders</a></li>
                                            <li>
                                                <a href="/viewAllAccount" id="manageRole">Manage Role of Account</a></li>

                                        </ul>



                                        </ul>
                                    </div>
                                </div>

                                <!--====== End - Dashboard Features ======-->
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14">View Employee</h1>
                                        <div th:if="${updateMessage}" class="alert alert-success" role="alert">
                                            <p style="color: green" th:text="${updateMessage}"></p>
                                        </div>

                                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                                            <div class="dash__table-wrap gl-scroll">

                                                <table class="dash__table">
                                                    <thead>
                                                    <tr>
                                                        <th>User Id</th>
                                                        <th>Name</th>
                                                        <th>Date of birth</th>
                                                        <th>Phone Number</th>
                                                        <th>Email</th>
                                                        <th>Address Detail</th>
                                                        <th>City</th>
                                                        <th>District</th>
                                                        <th> Ward</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <form method="post" th:action="@{/updateEmployee}">
                                                            <td th:text="${employee.id}"></td>
                                                            <td>
                                                                <input type="text" name="id" th:value="${employee.id}" hidden>
                                                                <input type="text" name="name" required th:value="${employee.name}">
                                                            </td>
                                                            <td>
                                                                <input type="date" name="birthday" required th:value="${#dates.format(employee.birthday, 'yyyy-MM-dd')}">
                                                            </td>
                                                            <td>
                                                                <input type="tel" name="phone" required th:value="${employee.phone}" min="10" max="11">
                                                            </td>
                                                            <td th:text="${employee.account.email}"></td>
                                                            <td>
                                                                <input type="text" name="addressDetail" required th:value="${employee.addressDetail}">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="city" required th:value="${employee.city}">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="district" required th:value="${employee.district}">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="ward" required th:value="${employee.ward}">
                                                            </td>
                                                            <td><button type="submit">Update</button></td>
                                                        </form>

                                                        <td><a href="/viewAllAccount">Back to Account list</a></td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <div th:insert="~{partials/footer :: footer}"></div>
</div>
<!--====== End - Main App ======-->


<!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
<script>
    window.ga = function() {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        if (readCookie('89abc')) { // employee
            console.log(readCookie('89abc'));
            $('#manageRole').hide();
        }

    })
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        console.log(ca);
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>


<!--====== Vendor Js ======-->
<script th:src="@{/js/vendor.js}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script th:src="@{/js/jquery.shopnav.js}"></script>

<!--====== App ======-->
<script th:src="@{/js/app.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy tất cả các phần tử input và textarea trong trang
        const inputs = document.querySelectorAll('input, textarea');

        inputs.forEach(function (input) {
            input.addEventListener('keydown', function (event) {
                // Kiểm tra nếu phím Enter (mã phím là 13) được nhấn
                if (event.key === 'Enter') {
                    // Ngăn chặn hành động mặc định của phím Enter
                    event.preventDefault();
                }
            });
        });
    });
</script>


<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>
</html>