<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" th:src="@{images/preloader.png}" alt=""></div>
</div>



    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->

        <div th:insert="~{partials/navbar :: navbar}"></div>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Primary Slider ======-->
            <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
                <div class="owl-carousel primary-style-1" id="hero-slider">
                    <div class="hero-slide hero-slide--1">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-white">Latest Update Stock</span>

                                        <span class="content-span-2 u-c-white">30% Off On Electronics</span>

                                        <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-white">Starting At

                                            <span class="u-c-brand">$1050.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="/ListProduct">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide hero-slide--2">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-white">Find Top Brands</span>

                                        <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                        <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-white">Starting At

                                            <span class="u-c-brand">$380.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="/ListProduct">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide hero-slide--3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-white">Find Top Brands</span>

                                        <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                        <span class="content-span-3 u-c-white">Find electronics on best prices, Also Discover most selling products of electronics</span>

                                        <span class="content-span-4 u-c-white">Starting At

                                            <span class="u-c-brand">$550.00</span></span>

                                        <a class="shop-now-link btn--e-brand" href="/ListProduct">SHOP NOW</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Primary Slider ======-->


            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">SHOP BY DEALS</h1>

                                    <span class="section__span u-c-silver">BROWSE FAVOURITE DEALS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 u-s-m-b-30">

                                <a class="collection" href="/ListProduct">
                                    <div class="aspect aspect--bg-grey aspect--square">

                                        <img class="aspect__img collection__img" src="images/collection/coll-1.jpg" alt=""></div>
                                </a></div>
                            <div class="col-lg-7 col-md-7 u-s-m-b-30">

                                <a class="collection" href="/ListProduct">
                                    <div class="aspect aspect--bg-grey aspect--1286-890">

                                        <img class="aspect__img collection__img" src="images/collection/coll-2 (1).webp" alt=""></div>
                                </a></div>
                            <div class="col-lg-7 col-md-7 u-s-m-b-30">

                                <a class="collection" href="/ListProduct">
                                    <div class="aspect aspect--bg-grey aspect--1286-890">

                                        <img class="aspect__img collection__img" src="images/collection/coll-3.jpg" alt=""></div>
                                </a></div>
                            <div class="col-lg-5 col-md-5 u-s-m-b-30">

                                <a class="collection" href="/ListProduct">
                                    <div class="aspect aspect--bg-grey aspect--square">

                                        <img class="aspect__img collection__img" src="images/collection/coll-2 (2).webp" alt=""></div>
                                </a></div>
                        </div>
                    </div>
                </div>

                <!--====== Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-16">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">TOP TRENDING</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <!-- Arrived Products Section -->
                            <div class="owl-carousel product-slider" data-item="4">
                                <div class="u-s-m-b-30" th:each="product : ${BestSeller}">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">
                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" th:href="@{/productdetail/{id}(id=${product.product.productImage})}">
                                                <img class="aspect__img" th:src="@{/product_img/{productImage}(productImage=${product.product.productImage})}" alt="">
                                            </a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>
                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View">
                                                            <i class="fas fa-search-plus"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops">
                                                            <i class="fas fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="product-o__category">
                            <a th:href="@{/ListProduct( categoryId=${product.product.category.categoryName})}" th:text="${product.product.category.categoryName}"></a>
                        </span>
                                        <span class="product-o__name">
                            <a th:href="@{/ProductDetail/{id}(id=${product.product.productId})}" th:text="${product.product.productName}"></a>
                        </span>

                                        <span class="product-o__category">
                            <a th:text="'Ram: ' + ${product.productTech.ram} + ' |Memory: ' + ${product.productTech.memory} + ' |Size: ' + ${product.productTech.size} + ' |Color: ' + ${product.color.colorName}"></a>
                        </span>

                                        <form id="name-filter-form" class="shop-w__form-p" action="/ListProduct" method="get">
                                            <div class="shop-w__form-p">
                                                <div>
                                                    <label for="name"></label>
                                                    <input class="input-text input-text--border-radius input-text--style-1" type="text" id="name" th:value="${param.name}" placeholder="Enter name to find..." name="name" hidden="">
                                                    <input type="hidden" name="categoryId" th:value="${param.categoryId}">
                                                    <input type="hidden" name="colorId" th:value="${param.colorId}">
                                                    <input type="hidden" name="memory" th:value="${param.memory}">
                                                    <input type="hidden" name="ram" th:value="${param.ram}">
                                                    <input type="hidden" name="minSize" th:value="${param.minSize}">
                                                    <input type="hidden" name="maxSize" th:value="${param.maxSize}">
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->

                <!--====== End - Section Content ======-->

                <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
<!--            <div class="u-s-p-b-60">-->

<!--                &lt;!&ndash;====== Section Intro ======&ndash;&gt;-->
<!--                <div class="section__intro u-s-m-b-46">-->
<!--                    <div class="container">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="section__text-wrap">-->
<!--                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">DEAL OF THE DAY</h1>-->

<!--                                    <span class="section__span u-c-silver">BUY DEAL OF THE DAY, HURRY UP! THESE NEW PRODUCTS WILL EXPIRE SOON.</span>-->

<!--                                    <span class="section__span u-c-silver">ADD THESE ON YOUR CART.</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;====== End - Section Intro ======&ndash;&gt;-->


<!--                &lt;!&ndash;====== Section Content ======&ndash;&gt;-->
<!--                <div class="section__content">-->
<!--                    <div class="container">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6 col-md-6 u-s-m-b-30">-->
<!--                                <div class="product-o product-o&#45;&#45;radius product-o&#45;&#45;hover-off u-h-100">-->
<!--                                    <div class="product-o__wrap">-->

<!--                                        <a class="aspect aspect&#45;&#45;bg-grey aspect&#45;&#45;square u-d-block" href="product-detail.html">-->

<!--                                            <img class="aspect__img" src="images/product/electronic/product11.jpg" alt=""></a>-->
<!--                                        <div class="product-o__special-count-wrap">-->
<!--                                            <div class="countdown countdown&#45;&#45;style-special" data-countdown="2020/05/01"></div>-->
<!--                                        </div>-->
<!--                                        <div class="product-o__action-wrap">-->
<!--                                            <ul class="product-o__action-list">-->
<!--                                                <li>-->

<!--                                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>-->
<!--                                                <li>-->

<!--                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>-->

<!--                                                <li>-->

<!--                                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <span class="product-o__category">-->

<!--                                        <a href="shop-side-version-2.html">Electronics</a></span>-->

<!--                                    <span class="product-o__name">-->

<!--                                        <a href="product-detail.html">DJI Phantom Drone 4k</a></span>-->
<!--                                    <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>-->

<!--                                        <span class="product-o__review">(2)</span></div>-->

<!--                                    <span class="product-o__price">$125.00-->

<!--                                        <span class="product-o__discount">$160.00</span></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6 u-s-m-b-30">-->
<!--                                <div class="product-o product-o&#45;&#45;radius product-o&#45;&#45;hover-off u-h-100">-->
<!--                                    <div class="product-o__wrap">-->

<!--                                        <a class="aspect aspect&#45;&#45;bg-grey aspect&#45;&#45;square u-d-block" href="product-detail.html">-->

<!--                                            <img class="aspect__img" src="images/product/electronic/product12.jpg" alt=""></a>-->
<!--                                        <div class="product-o__special-count-wrap">-->
<!--                                            <div class="countdown countdown&#45;&#45;style-special" data-countdown="2020/05/01"></div>-->
<!--                                        </div>-->
<!--                                        <div class="product-o__action-wrap">-->
<!--                                            <ul class="product-o__action-list">-->
<!--                                                <li>-->

<!--                                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>-->
<!--                                                <li>-->

<!--                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>-->

<!--                                                <li>-->

<!--                                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <span class="product-o__category">-->

<!--                                        <a href="shop-side-version-2.html">Electronics</a></span>-->

<!--                                    <span class="product-o__name">-->

<!--                                        <a href="product-detail.html">DJI Phantom Drone 2k</a></span>-->
<!--                                    <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>-->

<!--                                        <span class="product-o__review">(2)</span></div>-->

<!--                                    <span class="product-o__price">$125.00-->

<!--                                        <span class="product-o__discount">$160.00</span></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;====== End - Section Content ======&ndash;&gt;-->
<!--            </div>-->
            <!--====== End - Section 3 ======-->


            <!--====== Section 4 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">NEW ARRIVALS</h1>

                                    <span class="section__span u-c-silver">GET UP FOR NEW ARRIVALS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <!-- Arrived Products Section -->
                            <div class="owl-carousel product-slider" data-item="4">
                                <div class="u-s-m-b-30" th:each="product : ${ArrivalProd}">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">
                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" th:href="@{/productdetail/{id}(id=${product.productId})}">
                                                <img class="aspect__img" th:src="@{/product_img/{productImage}(productImage=${product.productImage})}" alt="">
                                            </a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>
                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View">
                                                            <i class="fas fa-search-plus"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops">
                                                            <i class="fas fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="product-o__category">
                            <a th:href="@{/ListProduct( categoryId=${product.category.categoryId})}" th:text="${product.category.categoryName}"></a>
                        </span>
                                        <span class="product-o__name">
                            <a th:href="@{/ProductDetail/{id}(id=${product.productId})}" th:text="${product.productName}"></a>
                        </span>

                                        <form id="name-filter-form" class="shop-w__form-p" action="/ListProduct" method="get">
                                            <div class="shop-w__form-p">
                                                <div>
                                                    <label for="name"></label>
                                                    <input class="input-text input-text--border-radius input-text--style-1" type="text" id="name" th:value="${param.name}" placeholder="Enter name to find..." name="name" hidden="">
                                                    <input type="hidden" name="categoryId" th:value="${param.categoryId}">
                                                    <input type="hidden" name="colorId" th:value="${param.colorId}">
                                                    <input type="hidden" name="memory" th:value="${param.memory}">
                                                    <input type="hidden" name="ram" th:value="${param.ram}">
                                                    <input type="hidden" name="minSize" th:value="${param.minSize}">
                                                    <input type="hidden" name="maxSize" th:value="${param.maxSize}">
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->

                <!--====== End - Section Content ======-->

                <!--====== End - Section 4 ======-->


            <!--====== Section 5 ======-->

            <!--====== End - Section 5 ======-->


            <!--====== Section 6 ======-->

            <!--====== End - Section 6 ======-->


            <!--====== Section 7 ======-->

            <!--====== End - Section 7 ======-->


            <!--====== Section 8 ======-->

            <!--====== End - Section 8 ======-->


            <!--====== Section 9 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-truck"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">Free Shipping</span>

                                        <span class="service__info-text-2">Free shipping on all US order or order above $200</span></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-redo"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">Shop with Confidence</span>

                                        <span class="service__info-text-2">Our Protection covers your purchase from click to delivery</span></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-headphones-alt"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">24/7 Help Center</span>

                                        <span class="service__info-text-2">Round-the-clock assistance for a smooth shopping experience</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 9 ======-->


            <!--====== Section 10 ======-->

            <!--====== End - Section 10 ======-->


            <!--====== Section 11 ======-->

            <!--====== End - Section 11 ======-->


            <!--====== Section 12 ======-->

            <!--====== End - Section 12 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <div th:insert="~{partials/footer :: footer}"></div>

        <!--====== Modal Section ======-->


        <!--====== Quick Look Modal ======-->

        <!--====== End - Quick Look Modal ======-->


        <!--====== Add to Cart Modal ======-->

        <!--====== End - Add to Cart Modal ======-->


        <!--====== Newsletter Subscribe Modal ======-->

        <!--====== End - Newsletter Subscribe Modal ======-->
        <!--====== End - Modal Section ======-->
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
<script th:src="@{/js/vendor.js}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script th:src="@{/js/jquery.shopnav.js}"></script>

<!--====== App ======-->
<script th:src="@{/js/app.js}"></script>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const searchInput = document.getElementById("name");
                    const searchForm = document.getElementById("name-filter-form");
                    const deleteAllBtn = document.getElementById("delete-all-btn");

                    // Load search history from local storage
                    let searchHistory = JSON.parse(localStorage.getItem("searchHistory")) || [];

                    // Function to update the dropdown display
                    function updateDropdown() {
                        dropdown.innerHTML = "";
                        const recentSearches = searchHistory.slice(-5).reverse(); // Get the 5 most recent search terms
                        recentSearches.forEach(term => {
                            const item = document.createElement("div");
                            item.textContent = term;
                            item.style.padding = "5px";
                            item.style.cursor = "pointer";

                            const termText = document.createElement("span");
                            termText.textContent = term;
                            termText.style.flexGrow = "1";
                            termText.addEventListener("click", function() {
                                searchInput.value = term;
                                dropdown.style.display = "none";
                            });



                            item.addEventListener("click", function() {
                                searchInput.value = term;
                                dropdown.style.display = "none";
                            });
                            dropdown.appendChild(item);
                        });
                        if (searchHistory.length > 0) {
                            deleteAllBtn.style.display = "inline";
                        } else {
                            deleteAllBtn.style.display = "none";
                        }
                    }



                    // Display search history in a dropdown
                    const dropdown = document.createElement("div");
                    dropdown.style.position = "absolute";
                    dropdown.style.borderRadius = "15px"
                    dropdown.style.backgroundColor = "#fff";
                    dropdown.style.border = "1px solid #ccc";
                    dropdown.style.width = searchInput.offsetWidth + "px";
                    dropdown.style.zIndex = "1000";
                    dropdown.style.display = "none";

                    updateDropdown();
                    searchInput.parentNode.appendChild(dropdown);

                    // Show dropdown on focus
                    searchInput.addEventListener("focus", function() {
                        dropdown.style.display = "block";
                    });

                    // Hide dropdown on blur
                    searchInput.addEventListener("blur", function() {
                        setTimeout(() => {
                            dropdown.style.display = "none";
                        }, 200);
                    });



                    // Save search term on form submit
                    searchForm.addEventListener("submit", function(event) {
                        const searchTerm = searchInput.value.trim();
                        if (searchTerm && !searchHistory.includes(searchTerm)) {
                            searchHistory.push(searchTerm);
                            if (searchHistory.length > 5) {
                                searchHistory = searchHistory.slice(-5); // Keep only the 5 most recent terms
                            }
                            localStorage.setItem("searchHistory", JSON.stringify(searchHistory));
                        }
                        updateDropdown();
                    });

                    // Delete all search history
                    deleteAllBtn.addEventListener("click", function() {
                        searchHistory = [];
                        localStorage.removeItem("searchHistory");
                        updateDropdown();
                    });
                });
            </script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>