<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet"   th:href="@{/css/vendor.css}" />>
    <link rel="stylesheet" th:href="@{/css/utility.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" th:src="@{images/preloader.png}" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">

    <!--====== Main Header ======-->
    <div th:insert="~{partials/navbar :: navbar}"></div>
    <!--====== End - Main Header ======-->


    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-t-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">

                        <!--====== Product Breadcrumb ======-->
                        <div class="pd-breadcrumb u-s-m-b-30">
                            <ul class="pd-breadcrumb__list">
                                <li class="has-separator">

                                    <a href="index.hml">Home</a></li>
                                <li class="has-separator">
                                    <a th:text="${product.category.categoryName}" th:href="@{/ListProduct( name=${param.name}, categoryId=${product.category.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}" ></a>
                                </li>
                                <li class="has-separator">
                                    <a th:text="${product.productName}"  th:href="@{/ProductDetail/{id}(id = ${product.productId})}"></a>
                                </li>

                            </ul>
                        </div>
                        <!--====== End - Product Breadcrumb ======-->


                        <!--====== Product Detail Zoom ======-->
                        <div class="pd u-s-m-b-30">
                            <div class="slider-fouc pd-wrap">
                                <div id="pd-o-initiate">
                                    <div class="pd-o-img-wrap" data-src="images/product/product-d-1.jpg">
                                        <img th:src="@{'/product_img/' + ${product.productImage}}" alt="Product Image"/>
                                    </div>

                                </div>


                            </div>
                            <div class="u-s-m-t-15">
                                <div class="slider-fouc">
                                    <div id="pd-o-thumbnail">
                                        <div>

                                        </div>
                                        <div>

                                            <img class="u-img-fluid" src="images/product/product-d-2.jpg" alt=""></div>
                                        <div>

                                            <img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>
                                        <div>

                                            <img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>
                                        <div>

                                            <img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Product Detail Zoom ======-->
                    </div>

                    <div class="col-lg-7">

                        <!--====== Product Right Side Details ======-->
                        <div class="pd-detail">
                            <div>
                                <H1 th:text="${product.productName}" class="pd-detail__name"> </H1>
                            </div>


                            <div>
                                <form class="pd-detail__form" th:action="@{/addToCart}" method="post">
                                    <div th:if="${#lists.isEmpty(ListProductType)}">
                                        <p>Không có loại sản phẩm nào.</p>
                                    </div>
                                    <div th:unless="${#lists.isEmpty(ListProductType)}">
                                        <div class="pd-detail__inline" th:each="productType : ${ListProductType}">
                                            <ul class="price-list">
                                                <li class="pd-detail__price" style="list-style: none">
                                                    <label class="price-radio">
                                                        <input style="color: red" type="radio" name="productType"
                                                               th:data-status="${productType.product_type_status}"
                                                               th:data-price="${productType.product_type_price}"
                                                               th:data-quantity="${productType.product_type_quantity}" onclick="updateStockStatus(this)" th:value="${productType.product_type_id}">
                                                        <span class="price-circle"></span>
                                                        <span>
                        <small th:text="'RAM: ' + ${productType.productTech.ram} + ' | Memory: ' + ${productType.productTech.memory} + ' | Size: ' + ${productType.productTech.size} + ' | Color: ' + ${productType.color.colorName}"></small>
                    </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <p id="stock-status"></p>
                                    <p id="stock-price"></p>
                                    <div class="u-s-m-b-15">
                                        <span class="pd-detail__preview-desc"></span>
                                    </div>
                                    <div class="u-s-m-b-15">
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">
                                                <!--====== Input Counter ======-->
                                                <div class="input-counter">

                                                    <input type="text" value="1" data-min="1" data-max="10" name="quantity" readonly hidden="">

                                                </div>
                                                <!--====== End - Input Counter ======-->
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <button class="btn btn--e-brand-b-2" id="addToCartButton" type="submit">Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>

                <!--====== Product Detail Tab ======-->
                <div class="u-s-p-y-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pd-tab">
                                    <div class="u-s-m-b-30">
                                        <ul class="nav pd-tab__list">
                                            <li class="nav-item">

                                                <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
<!--                                            <li class="nav-item">-->

<!--                                                <a class="nav-link" data-toggle="tab" href="#pd-tag">TAGS</a></li>-->
<!--                                            <li class="nav-item">-->

<!--                                                <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS-->

<!--                                                    <span>(23)</span></a></li>-->
                                        </ul>
                                    </div>
                                    <div class="tab-content">

                                        <!--====== Tab 1 ======-->
                                        <div class="tab-pane fade show active" id="pd-desc">
                                            <div class="pd-tab__desc">
                                                <div class="u-s-m-b-15">
                                                    <p th:text="${product.productDescription}"></p>
                                                </div>

<!--                                                <div class="u-s-m-b-30">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                            <span>Buyer Protection.</span></li>-->
<!--                                                        <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                            <span>Full Refund if you don't receive your order.</span></li>-->
<!--                                                        <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                            <span>Returns accepted if product not as described.</span></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                <div class="u-s-m-b-15">-->
<!--                                                    <h4>PRODUCT INFORMATION</h4>-->
<!--                                                </div>-->
<!--                                                <div class="u-s-m-b-15" th:each="productType : ${ListProductType}">-->
<!--                                                    <div class="pd-table gl-scroll">-->
<!--                                                        <table>-->
<!--                                                            <tbody>-->
<!--                                                            <tr>-->
<!--                                                                <td>Product Name</td>-->
<!--                                                                <td th:text="${productType.product.productName}"></td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td>Brand</td>-->
<!--                                                                <td th:text="${productType.product.brand.brandName}"></td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td >Color</td>-->
<!--                                                                <td th:text="${productType.color.colorName}"></td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td>Ram</td>-->
<!--                                                                <td th:text="${productType.productTech.ram}"></td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td>Memory</td>-->
<!--                                                                <td th:text="${productType.productTech.memory}"></td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td>Screen Size</td>-->
<!--                                                                <td th:text="${productType.productTech.size}"></td>-->
<!--                                                            </tr>-->
<!--                                                            </tbody>-->
<!--                                                        </table>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--====== End - Tab 1 ======-->


                                        <!--====== Tab 2 ======-->

                                        <!--====== End - Tab 2 ======-->


                                        <!--====== Tab 3 ======-->

                                        <!--====== End - Tab 3 ======-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Product Detail Tab ======-->
                <div class="u-s-p-b-90">

                    <!--====== Section Intro ======-->
                    <div class="section__intro u-s-m-b-46">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section__text-wrap">
                                        <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                        <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Section Intro ======-->


                    <!--====== Section Content ======-->
                    <div class="section__content">
                        <div class="container">
                            <div class="slider-fouc">
                                <div class="owl-carousel product-slider" data-item="4">

                                    <div class="u-s-m-b-30" th:each="productRelate : ${ListRelate}">

                                        <div class="product-o product-o--hover-on">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" th:href="@{/ProductDetail/{id}(id = ${productRelate.productId})}">

                                                    <img class="aspect__img"   th:src="@{'/product_img/' + ${productRelate.productImage}}" alt=""></a>
<!--                                                <div class="product-o__action-wrap">-->
<!--                                                    <ul class="product-o__action-list">-->
<!--                                                        <li>-->

<!--                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>-->
<!--                                                        <li>-->

<!--                                                            <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>-->
<!--                                                        <li>-->

<!--                                                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>-->
<!--                                                        <li>-->

<!--                                                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
                                            </div>

                                            <form id="name-filter-form" class="shop-w__form-p" action="/ListProduct"
                                                  method="get">
                                                <div class="shop-w__form-p">
                                                    <div>
                                                        <label for="name"></label>

                                                        <input class="input-text input-text--border-radius input-text--style-1"
                                                               type="text" id="name" th:value="${param.name}"
                                                               placeholder="Enter name to find..." name="name" hidden="">
                                                        <input
                                                                type="hidden"
                                                                name="categoryId"
                                                                th:value="${param.categoryId}"
                                                        >  <input
                                                            type="hidden"
                                                            name="colorId"
                                                            th:value="${param.colorId}"
                                                    ><input
                                                            type="hidden"
                                                            name="memory"
                                                            th:value="${param.memory}"
                                                    ><input
                                                            type="hidden"
                                                            name="ram"
                                                            th:value="${param.ram}"
                                                    ><input
                                                            type="hidden"
                                                            name="minSize"
                                                            th:value="${param.minSize}"
                                                    ><input
                                                            type="hidden"
                                                            name="maxSize"
                                                            th:value="${param.maxSize}"
                                                    >
                                                    </div>
                                                </div>
                                            </form>

                                            <span class="product-o__category">

                                            <a th:href="@{/ListProduct( name=${param.name}, categoryId=${productRelate.category.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}" th:text="${productRelate.category.categoryName}"></a></span>

                                            <span class="product-o__name">

                                            <a th:href="@{/ProductDetail/{id}(id = ${productRelate.productId})}" th:text="${productRelate.productName}"></a></span>
                                            <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Section Content ======-->
                </div>
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->


            <!--====== Main Footer ======-->
            <div th:insert="~{partials/footer :: footer}"></div>

            <!--====== Modal Section ======-->


            <!--====== Quick Look Modal ======-->

                                    <!--====== End - Product Breadcrumb ======-->


                                    <!--====== Product Detail ======-->

                                    <!--====== End - Product Detail ======-->
                                </div>
                                <div class="col-lg-7">

                                    <!--====== Product Right Side Details ======-->
                                    <div class="pd-detail">
                                        <div>

                                            <span class="pd-detail__name">Nikon Camera 4k Lens Zoom Pro</span></div>
                                        <div>
                                            <div class="pd-detail__inline">

                                                <span class="pd-detail__price">$6.99</span>

                                                <span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$28.97</del></div>
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                <span class="pd-detail__review u-s-m-l-4">

                                                <a href="product-detail.html">23 Reviews</a></span></div>
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <div class="pd-detail__inline">

                                                <span class="pd-detail__stock">200 in stock</span>

                                                <span class="pd-detail__left">Only 2 left</span></div>
                                        </div>
                                        <div class="u-s-m-b-15">

                                            <span class="pd-detail__preview-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></div>
                                        <div class="u-s-m-b-15">
                                            <div class="pd-detail__inline">

                                            <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                                <a href="signin.html">Add to Wishlist</a>

                                                <span class="pd-detail__click-count">(222)</span></span></div>
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <div class="pd-detail__inline">

                                            <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>

                                                <a href="signin.html">Email me When the price drops</a>

                                                <span class="pd-detail__click-count">(20)</span></span></div>
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <ul class="pd-social-list">
                                                <li>

                                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <form class="pd-detail__form">
                                                <div class="pd-detail-inline-2">
                                                    <div class="u-s-m-b-15">

                                                        <!--====== Input Counter ======-->
                                                        <div class="input-counter">

                                                            <span class="input-counter__minus fas fa-minus"></span>

                                                            <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">

                                                            <span class="input-counter__plus fas fa-plus"></span></div>
                                                        <!--====== End - Input Counter ======-->
                                                    </div>
                                                    <div class="u-s-m-b-15">

                                                        <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="u-s-m-b-15">

                                            <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                            <ul class="pd-detail__policy-list">
                                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                                    <span>Buyer Protection.</span></li>
                                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                                    <span>Full Refund if you don't receive your order.</span></li>
                                                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                                    <span>Returns accepted if product not as described.</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Product Right Side Details ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Quick Look Modal ======-->


            <!--====== Add to Cart Modal ======-->
            <div class="modal fade" id="add-to-cart">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-radius modal-shadow">

                        <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="success u-s-m-b-30">
                                        <div class="success__text-wrap"><i class="fas fa-check"></i>

                                            <span>Item is added successfully!</span></div>
                                        <div class="success__img-wrap">

                                            <img class="u-img-fluid" src="images/product/electronic/product1.jpg" alt=""></div>
                                        <div class="success__info-wrap">

                                            <span class="success__name">Beats Bomb Wireless Headphone</span>

                                            <span class="success__quantity">Quantity: 1</span>

                                            <span class="success__price">$170.00</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="s-option">

                                        <span class="s-option__text">1 item (s) in your cart</span>
                                        <div class="s-option__link-box">

                                            <a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">CONTINUE SHOPPING</a>

                                            <a class="s-option__link btn--e-white-brand-shadow" href="cart.html">VIEW CART</a>

                                            <a class="s-option__link btn--e-brand-shadow" href="checkout.html">PROCEED TO CHECKOUT</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Add to Cart Modal ======-->
            <!--====== End - Modal Section ======-->
        </div>
        <!--====== End - Main App ======-->


        <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
        <script>
            window.ga = function() {
                ga.q.push(arguments)
            };
            ga.q = [];
            ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto');
            ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

        <!--====== Vendor Js ======-->
        <script th:src="@{/js/vendor.js}"></script>

        <!--====== jQuery Shopnav plugin ======-->
        <script th:src="@{/js/jquery.shopnav.js}"></script>

        <!--====== App ======-->
        <script th:src="@{/js/app.js}"></script>
        <!-- change status following the product type status-->

    <style>
        .btn.disabled, .btn:disabled {
            background-color: #555; /* Màu tối */
            cursor: not-allowed;
        }
    </style>

    <script>

        function redirectToLogin() {
            window.location.href = '/login';
        }

        function updateStockStatus(radio) {
            var status = radio.getAttribute('data-status');
            var price = radio.getAttribute('data-price');
            var stockStatusElement = document.getElementById('stock-status');
            var stockPriceElement = document.getElementById('stock-price');
            var addToCartButton = document.getElementById('addToCartButton');

            if (status === 'close') {
                stockStatusElement.innerText = 'out of stock';
                stockStatusElement.style.color = 'red';
                addToCartButton.disabled = true; // Vô hiệu hóa nút Add to Cart
                addToCartButton.classList.add('disabled'); // Thêm lớp CSS
            } else {
                stockStatusElement.innerText = 'available';
                stockStatusElement.style.color = 'green';
                addToCartButton.disabled = false; // Kích hoạt lại nút Add to Cart
                addToCartButton.classList.remove('disabled'); // Loại bỏ lớp CSS
            }

            stockPriceElement.innerText = price + ' $';
        }

        document.addEventListener("DOMContentLoaded", function() {
            var form = document.querySelector(".pd-detail__form");
            form.addEventListener("submit", function(event) {
                var radios = document.querySelectorAll('input[type="radio"][name="productType"]');
                var selected = false;
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        selected = true;
                        break;
                    }
                }
                if (!selected) {
                    alert("Bạn cần chọn một sản phẩm trước khi thêm vào giỏ hàng.");
                    event.preventDefault(); // Ngăn form được gửi đi
                }
            });
        });
    </script>



        <!--====== Noscript ======-->
        <noscript>
            <div class="app-setting">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="app-setting__wrap">
                                <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                                <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </noscript>
</div>
</body>
</html>