<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <title>CellphoneZDB</title>
    <style>
        .selected a {
            font-weight: bold;
            color: #007bff;
        }
    </style>
    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" th:href="@{/css/vendor.css}"/>
    >
    <link rel="stylesheet" th:href="@{/css/utility.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" th:src="@{images/preloader.png}" alt=""></div>
</div>


<!--====== Main App ======-->
<div id="app">

    <!--====== Main Header ======-->
    <div th:insert="~{partials/navbar :: navbar}"></div>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="shop-w-master">
                            <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>

                                <span>FILTERS</span> <a th:href="@{/ListProduct}" style="float: right"> <i class="fas fa-trash u-s-m-r-8"></i></a></h1>

                            <div class="shop-w-master__sidebar">
                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w shop-w--style">


                                                <form id="name-filter-form" class="shop-w__form-p" action="/ListProduct"
                                                      method="get">
                                                    <div class="shop-w__form-p">
                                                        <div>
                                                            <label for="name"></label>

                                                            <input class="input-text input-text--border-radius input-text--style-1"
                                                                   type="text" id="name" th:value="${param.name}"
                                                                   placeholder="Enter name to find..." name="name"  hidden="">
                                                            <input
                                                                    type="hidden"
                                                                    name="categoryId"
                                                                    th:value="${param.categoryId}"
                                                            >  <input
                                                                type="hidden"
                                                                name="colorId"
                                                                th:value="${param.colorId}"
                                                        ><input
                                                                type="hidden"
                                                                name="memory"
                                                                th:value="${param.memory}"
                                                        ><input
                                                                type="hidden"
                                                                name="ram"
                                                                th:value="${param.ram}"
                                                        ><input
                                                                type="hidden"
                                                                name="minSize"
                                                                th:value="${param.minSize}"
                                                        ><input
                                                                type="hidden"
                                                                name="maxSize"
                                                                th:value="${param.maxSize}"
                                                        >
                                                        </div>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w__intro-wrap">
                                            <h1 class="shop-w__h">CATEGORY</h1>

                                            <span class="fas fa-minus shop-w__toggle" data-target="#s-category"
                                                  data-toggle="collapse"></span>
                                        </div>
                                        <div class="shop-w__wrap collapse show" id="s-category">
                                            <ul class="shop-w__category-list gl-scroll">
                                                <li>
                                                    <a th:href="@{/ListProduct(name=${param.name},  minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram},  minSize=${param.minSize}, maxSize=${param.maxSize})}">
                                                        All</a></li>
                                                <li th:each="c : ${categoryList}"
                                                    th:class="${param.categoryId != null and c.categoryId.toString().equals(param.categoryId[0])} ? 'has-list selected' : 'has-list'">

                                                    <a th:href="@{/ListProduct( name=${param.name}, categoryId=${c.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"
                                                       th:text="${c.categoryName}"></a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w__intro-wrap">
                                            <h1 class="shop-w__h">COLOR</h1>

                                            <span class="fas fa-minus shop-w__toggle" data-target="#s-color"
                                                  data-toggle="collapse"></span>
                                        </div>

                                        <div class="shop-w__wrap collapse show" id="s-color">
                                            <ul class="shop-w__category-list gl-scroll">
                                                <li>
                                                    <a th:href="@{/ListProduct(name=${param.name},  categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice},   memory=${param.memory}, ram=${param.ram},  minSize=${param.minSize}, maxSize=${param.maxSize})}">
                                                        All</a></li>
                                                <li th:each="color : ${colorList}"
                                                    th:class="${param.colorId != null and color.colorId.toString().equals(param.colorId[0])} ? 'has-list selected' : 'has-list'">

                                                    <a th:href="@{/ListProduct( name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${color.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"
                                                       th:text="${color.colorName}"></a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w__intro-wrap">
                                            <h1 class="shop-w__h">RAM</h1>

                                            <span class="fas fa-minus shop-w__toggle" data-target="#s-ram"
                                                  data-toggle="collapse"></span>
                                        </div>

                                        <div class="shop-w__wrap collapse show" id="s-ram">
                                            <ul class="shop-w__category-list gl-scroll">
                                                <li>
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory},   minSize=${param.minSize}, maxSize=${param.maxSize})}">
                                                        All</a></li>
                                                <li th:each="ram : ${ramList}"
                                                    th:class="${param.ram != null and ram.toString().equals(param.ram[0])} ? 'has-list selected' : 'has-list'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"
                                                       th:text="${ram} + ' GB'"></a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w__intro-wrap">
                                            <h1 class="shop-w__h">SCREEN</h1>
                                            <span class="fas fa-minus shop-w__toggle" data-target="#s-size"
                                                  data-toggle="collapse"></span>
                                        </div>
                                        <div class="shop-w__wrap collapse show" id="s-size">
                                            <ul class="shop-w__category-list gl-scroll">
                                                <li>
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram})}">
                                                        All</a>
                                                </li>
                                                <li class="has-list" th:class="${param.minSize != null and param.minSize.size() > 0 and param.minSize[0] == '0'} ? 'selected'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=0, maxSize=5.99)}">
                                                        &lt; 6 inch
                                                    </a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                                <li class="has-list" th:class="${param.minSize != null and param.minSize.size() > 0 and param.minSize[0] == '6'} ? 'selected'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=6, maxSize=7.99)}">
                                                        6 - 8 inch
                                                    </a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                                <li class="has-list" th:class="${param.minSize != null and param.minSize.size() > 0 and param.minSize[0] == '8'} ? 'selected'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=8, maxSize=9.99)}">
                                                        8 - 10 inch
                                                    </a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                                <li class="has-list" th:class="${param.minSize != null and param.minSize.size() > 0 and param.minSize[0] == '10'} ? 'selected'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=10, maxSize=14.99)}">
                                                        10 - 15 inch
                                                    </a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                                <li class="has-list" th:class="${param.minSize != null and param.minSize.size() > 0 and param.minSize[0] == '15'} ? 'selected'">
                                                    <a th:href="@{/ListProduct(name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=15, maxSize=100)}">
                                                        &gt; 15 inch
                                                    </a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="u-s-m-b-30">
                                    <div class="shop-w shop-w--style">
                                        <div class="shop-w__intro-wrap">
                                            <h1 class="shop-w__h">MEMORY</h1>

                                            <span class="fas fa-minus shop-w__toggle" data-target="#s-memory"
                                                  data-toggle="collapse"></span>
                                        </div>

                                        <div class="shop-w__wrap collapse show" id="s-memory">
                                            <ul class="shop-w__category-list gl-scroll">
                                                <li>
                                                    <a th:href="@{/ListProduct(name=${param.name},  categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice},  colorId=${param.colorId},   ram=${param.ram},  minSize=${param.minSize}, maxSize=${param.maxSize})}">
                                                        All</a></li>
                                                <li th:each="memory : ${memoryList}"
                                                    th:class="${param.memory != null and memory.toString().equals(param.memory[0])} ? 'has-list selected' : 'has-list'">

                                                    <a th:href="@{/ListProduct( name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"
                                                       th:text="${memory}+' GB'"></a>
                                                    <span class="category-list__text u-s-m-l-6"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w shop-w--style">
                                    <div class="shop-w__intro-wrap">
                                        <h1 class="shop-w__h">PRICE</h1>
                                        <span class="fas fa-minus shop-w__toggle" data-target="#s-price"
                                              data-toggle="collapse"></span>
                                    </div>
                                    <div class="shop-w__wrap collapse show" id="s-price">
                                        <form id="price-filter-form" class="shop-w__form-p" action="/ListProduct" method="get">
                                            <div class="shop-w__form-p-wrap">
                                                <div>
                                                    <label for="price-min"></label>
                                                    <input class="input-text input-text--primary-style" type="number"
                                                           id="price-min" name="minPrice"
                                                           placeholder="Min" min="0" step="any" required>
                                                </div>
                                                <div>
                                                    <label for="price-max"></label>
                                                    <input class="input-text input-text--primary-style" type="number"
                                                           id="price-max" name="maxPrice"
                                                           placeholder="Max" max="100000000" step="any" min="0" required>
                                                    <input type="hidden" name="name" th:value="${param.name}">
                                                    <input type="hidden" name="categoryId" th:value="${param.categoryId}">
                                                    <input type="hidden" name="minPrice" th:value="${param.minPrice}">
                                                    <input type="hidden" name="maxPrice" th:value="${param.maxPrice}">
                                                    <input type="hidden" name="colorId" th:value="${param.colorId}">
                                                    <input type="hidden" name="memory" th:value="${param.memory}">
                                                    <input type="hidden" name="ram" th:value="${param.ram}">
                                                    <input type="hidden" name="minSize" th:value="${param.minSize}">
                                                    <input type="hidden" name="maxSize" th:value="${param.maxSize}">
                                                </div>
                                                <div></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <!-- Search and filter form -->

                        <div class="shop-p">
                            <div class="shop-p__tool-style">
                                <div class="tool-style__group u-s-m-b-8">
                                    <span class="js-shop-grid-target is-active">Grid</span>
                                    <span class="js-shop-list-target">List</span>
                                </div>
                            </div>
                            <div class="shop-p__collection">
                                <div class="row is-grid-active">
                                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}"
                                         th:name="${product.productId}">
                                        <div class="product-m">
                                            <div class="product-m__thumb">
                                                <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                                   th:href="@{/ProductDetail/{id}(id=${product.productId})}">
                                                    <img class="aspect__img"
                                                         th:src="@{'/product_img/' + ${product.productImage}}"
                                                         alt="404">

                                                </a>
                                            </div>
                                            <div class="product-m__content">
                                                <div class="product-m__category">
                                                    <a th:href="@{/Category/{id}(id=${product.category.categoryId})}"
                                                       th:text="${product.category.categoryName}"></a>
                                                </div>
                                                <div class="product-m__name">
                                                    <a th:href="@{/ProductDetail/{id}(id=${product.productId})}"
                                                       th:text="${product.productName}"></a>
                                                </div>
                                                <div th:each="productType, iterStat : ${product.productTypes}">
                                                    <span th:if="${iterStat.first}"
                                                          th:text="${productType.product_type_price}"></span>
                                                    <span th:if="${iterStat.first and !iterStat.last}"> ~ </span>
                                                    <span th:if="${iterStat.last}"
                                                          th:text="${productType.product_type_price}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${!hasProducts}">
                                    <p style="color: red; text-align: center">No products found</p>
                                </div>
                                <div class="u-s-p-y-60" th:if="${hasProducts}">
                                    <ul class="shop-p__pagination">
                                        <li th:if="${currentPage > 1}">
                                            <a class="fas fa-angle-left"
                                               th:href="@{/ListProduct(page=${currentPage - 1}, name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"></a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                            <a th:class="${currentPage == i + 1} ? 'u-c-brand' : ''"
                                               th:href="@{/ListProduct(page=${i+1} , name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"
                                               th:text="${i + 1}"></a>
                                        </li>
                                        <li th:if="${currentPage < totalPages}">
                                            <a class="fas fa-angle-right"
                                               th:href="@{/ListProduct(page=${currentPage + 1}, name=${param.name}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, colorId=${param.colorId}, memory=${param.memory}, ram=${param.ram}, minSize=${param.minSize}, maxSize=${param.maxSize})}"></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <div th:insert="~{partials/footer :: footer}"></div>


        <!--====== End - Modal Section ======-->
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script>
        function validatePrices(minPrice, maxPrice) {
            // Check if minPrice and maxPrice are numbers and not negative
            if ((minPrice !== '' && (isNaN(minPrice) || minPrice < 0)) ||
                (maxPrice !== '' && (isNaN(maxPrice) || maxPrice < 0))) {
                alert('Please enter valid prices');
                return false;
            }

            // Check if both prices are provided and minPrice is greater than maxPrice
            if (minPrice !== '' && maxPrice !== '' && parseFloat(minPrice) > parseFloat(maxPrice)) {
                alert('Minimum price cannot be greater than maximum price');
                return false;
            }

            return true;
        }

        document.getElementById('price-filter-form').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default Enter key action

                var minPrice = document.getElementById('price-min').value;
                var maxPrice = document.getElementById('price-max').value;

                if (validatePrices(minPrice, maxPrice)) {
                    document.getElementById('price-filter-form').submit();
                }
            }
        });

        document.getElementById('price-filter-form').addEventListener('submit', function(event) {
            var minPrice = document.getElementById('price-min').value;
            var maxPrice = document.getElementById('price-max').value;

            if (!validatePrices(minPrice, maxPrice)) {
                event.preventDefault(); // Prevent form submission if invalid
            }
        });
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script th:src="@{/js/vendor.js}"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script th:src="@{/js/jquery.shopnav.js}"></script>

    <!--====== App ======-->
    <script th:src="@{/js/app.js}"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>
